.userInfoWrap{
    max-width: 900px;
    margin: 100px auto;
    .userInfoHeadWrap{
        display: flex;
        justify-content: space-between;
        margin: 20px;
        
    }
    .DialogContent{
        padding-top: 10px;
    }
}

